.todo-input {
  width: 100%;
  padding: 15px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: #4d4d4d;
}

.todo-input::placeholder {
  color: #e6e6e6;
  font-style: italic;
}

form {
  border-bottom: 1px solid #e6e6e6;
}
